html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

/* .main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
} */
